body {
    font-family: 'Quicksand', sans-serif;
    background-color: #f9e6e6;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #f1e3ff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    color: #ff9900;
}

.close-btn {
    font-size: 20px;
    color: #990033;
    cursor: pointer;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-bottom: 2px solid #8b5f7d;
    outline: none;
    font-size: 16px;
    transition: border-bottom-color 0.3s ease;
}

button {
    background-color: #ff9900;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #cc6600;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #f9e6e6;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    position: relative;
    transition: background-color 0.3s ease;
}

li:hover {
    background-color: #eccccc;
}

li button {
    background-color: #cc3300;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

li:hover button {
    opacity: 1;
}
